<form class="frame" [formGroup]="form">
  <h2>Reset your password</h2>

  <div class="field">
    <label>*Password:</label>
    <input type="password" formControlName="password">
    <span *ngIf="password && password.invalid && password.touched">Invaild password</span>
  </div>

  <div class="field">
    <label>*Confirm password</label>
    <input type="password" formControlName="confirmPassword">
    <span *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">Passwords are not equal</span>
  </div>

  <div class="field">
    <button [disabled]="!form.valid" (click)="onSubmit()">Change password</button>
  </div>
</form>
